[user]
	name = Bart van der Braak
	email = bart@vanderbraak.nl
	# signingkey = 26ED0D75D89D9B61

[alias]
	p = push
	st = status
	ll = log --oneline
	last = log -1 HEAD --stat
	cm = commit -m
	d = diff
	gl = config --global -l
	aa = add .
	pushfwl = push --force-with-lease

[core]
	excludesfile = ~/.gitignore
	pager = delta

[interactive]
    diffFilter = delta --color-only

[init]
	defaultBranch = main

[commit]
	# gpgsign = true

[push]
	autoSetupRemote = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[includeIf "gitdir:~/Repos/github.com/blender/"]
    path = ~/.config/git/blender.gitconfig

[includeIf "gitdir:~/Repos/gitlab.com/blender/"]
    path = ~/.config/git/blender.gitconfig

[includeIf "gitdir:~/Repos/projects.blender.org/"]
    path = ~/.config/git/blender.gitconfig