[user]
	name = Bart van der Braak
	email = bartvdbraak@gmail.com
[alias]
	p = push
	st = status
	ll = log --oneline
	last = log -1 HEAD --stat
	cm = commit -m
	d = diff
	gl = config --global -l
	aa = add .
	pushfwl = push --force-with-lease
[core]
	excludesfile = /Users/bart.vanderbraak/.gitignore_global
[init]
	defaultBranch = master
[push]
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
